@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif, var(--font-sans, --font-mono);
}

/* Perkecil ruang di sekitar icon */
.swal2-icon {
  margin: 0.2rem auto !important;   /* default ~1.5rem */
}

/* Jika masih terlalu jauh dari title */
.swal2-title {
  margin-bottom: 0.25rem !important;
  padding: 0 !important;
  font-size: 20px !important;
  font-weight: 900 !important;
}

.swal2-actions {
  margin-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.swal2-html-container {
  padding-top: 0.2rem !important;
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
